<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>GWT-Maven-Archetype</display-name>	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description />
		<display-name>DataSourceService</display-name>
		<servlet-name>DataSourceService</servlet-name>
		<servlet-class>com.mycompany.project.server.DataSourceServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataSourceService</servlet-name>
		<url-pattern>/com.mycompany.project.Application/DataSourceService</url-pattern>
	</servlet-mapping>
	
</web-app>
